<center style="width: 100%; table-layout: fixed;">
    <div style="background-color: #f8f9fa; width: 100%; max-width: 600px; margin: 0 auto;">
      <table class="m_-284055676835661507container" style="max-width: 600px; width: 600px; word-break: break-word; margin: 0 auto;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
        <tbody>
          <tr>
            <td id="m_-284055676835661507moduleContainer" style="background-color: #ffffff;" align="center" valign="top" bgcolor="#ffffff">
              <table id="m_-284055676835661507headerLogoCTAModulefea5f133-4261-4101-ace3-f19e2be0486d" style="max-width: 600px; width: 100%; background: #f8f9fa;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                  <tr>
                    <td id="m_-284055676835661507header-Logo-cta0a4e22de-622c-4c98-9dc7-25eb34d738f0" class="m_-284055676835661507header" dir="ltr" style="padding: 24px 24px 24px 30px;" valign="top">
                      <table style="max-width: 600px; width: 100%;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0" align="left">
                        <tbody>
                          <tr>
                            <td class="m_-284055676835661507width50 m_-284055676835661507pad-l0" style="font-family: 'Google Sans', 'Noto Sans JP', Arial, sans-serif; padding-left: 20px; font-size: 14px; vertical-align: middle; width: 99.6283%; text-align: right;" align="left" valign="middle" width="300">
                              <p>
                                <img class="m_-284055676835661507logo m_-284055676835661507no-arrow CToWUd" style="float: left;" src="https://conlinebr.com.br/logosirius_preta.png" alt="Google Cloud" width="154" height="61" /><p><%- responsavel %> </p>
                              </p>
                              <p>Referencia: <%- codigo %> </p>
                            </td>
                            <td class="m_-284055676835661507showMobileHeaderCTA" style="font-family: 'Google Sans', 'Noto Sans JP', Arial, sans-serif; font-size: 14px; vertical-align: middle; width: 55.7621%; text-align: right; display: none;" align="right" valign="middle" width="300">
                              <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="right">
                                <tbody>
                                  <tr>
                                    <td dir="ltr" style="border-radius: 4px;" align="right" bgcolor="#1a73e8">
                                      <a class="m_-284055676835661507whiteText" style="font-family: 'Google Sans','Noto Sans JP',Arial,sans-serif; color: #ffffff; text-decoration: none; font-size: 14px; letter-spacing: 1px; font-weight: bold; border-radius: 4px; border: 1px solid #1a73e8; margin: 0; padding: 14px 16px 14px 16px; display: inline-block;" href="https://go.cloudplatformonline.com/ODA4LUdKVy0zMTQAAAGFu64YaFlB_CTrqKZdd6nw54VKpoijqn9z6z0Iu0R9XB3LClbCbQUq9KfEltcl-sGBc-Vrseo=" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://go.cloudplatformonline.com/ODA4LUdKVy0zMTQAAAGFu64YaFlB_CTrqKZdd6nw54VKpoijqn9z6z0Iu0R9XB3LClbCbQUq9KfEltcl-sGBc-Vrseo%3D&amp;source=gmail&amp;ust=1658425432932000&amp;usg=AOvVaw0E7TcrfN_UKeM4UpxY7Zhq">Baixe agora</a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
           
              <table id="m_-284055676835661507bodyCopyModule" style="max-width: 600px; width: 100%;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                  <tr>
                    <td class="m_-284055676835661507inner-container" dir="ltr" style="padding: 8px 50px 8px 0px;" valign="top">
                      <p id="m_-284055676835661507bodyCopy" style="font-family: 'Google Sans Text&rsquo;,&rsquo;Noto Sans JP',Arial,sans-serif; font-size: 14px; line-height: 24px; color: #5f6368; margin: 0; padding: 0; text-align: left;">
                        <!-- <strong>Segue processos liberados para pagamento de comiss&otilde;es</strong> -->
                        <%- texto %>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table id="m_-284055676835661507bodyCopyModule" style="max-width: 600px; width: 100%;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                  <tr>
                    <td class="m_-284055676835661507inner-container" dir="ltr" style="padding: 8px 50px 8px 50px;" valign="top">
                      <p id="m_-284055676835661507bodyCopy" style="font-family: 'Google Sans Text&rsquo;,&rsquo;Noto Sans JP',Arial,sans-serif; font-size: 14px; line-height: 24px; color: #5f6368; margin: 0; padding: 0; text-align: left;">
                        <!-- <strong>Segue processos liberados para pagamento de comiss&otilde;es</strong> -->
                        <%- processos %>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>

              
              <!-- <table id="m_-284055676835661507unorderedListModule1af4d590-54fa-4d56-80f6-d6af431bf449" style="max-width: 600px; width: 100%;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                  <tr>
                    <td class="m_-284055676835661507inner-container" dir="ltr" style="padding: 8px 50px 8px 50px;" valign="top">
                      <div id="m_-284055676835661507UnorderedListf36fcae2-6463-4656-9a43-947d2d199022" style="font-family: 'Google Sans Text&rsquo;,&rsquo;Noto Sans JP',Arial,sans-serif; font-size: 14px; line-height: 24px; color: #5f6368; margin: 0; padding: 0; text-align: left;">
                        <ul style="padding: 0; margin: 0;">
                          <li>
                          <strong>Pr&aacute;ticas de seguran&ccedil;a:</strong>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table> -->
         
              <br />
              <table id="m_-284055676835661507footerModule" style="max-width: 600px; width: 100%; background: #f8f9fa;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                  <tr>
                    <td class="m_-284055676835661507inner-container" style="padding: 40px 50px 0 50px;" valign="top">
                      <table style="max-width: 600px; width: 100%;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0" <tbody>
                        <tr>
                          <td>
                            <table style="width: 100%;" role="presentation" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td dir="ltr" style="padding-bottom: 16px;" align="left">
                                    <table style="width: 100%;" role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td dir="ltr" style="vertical-align: middle;" align="left" valign="middle">
                                            <img id="m_-284055676835661507footerLogo" class="m_-284055676835661507no-arrow CToWUd" style="width: 109px; display: block; margin: 0px; border: none;" src="https://conlinebr.com.br/logosirius_preta.png" alt="Google Cloud" width="140" height="43" />
                                          </td>
                                          <td dir="ltr" style="vertical-align: middle; display: none!important;" align="right" valign="middle">
                                            <img id="m_-284055676835661507footerIcons" class="m_-284055676835661507no-arrow CToWUd" style="width: 137px; display: none!important; margin: 0; border: none;" src="https://conlinebr.com.br/logosirius_preta.png" width="137" />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td dir="ltr" style="font-family: 'Google Sans Text&rsquo;,&rsquo;Noto Sans JP',Arial,sans-serif; font-size: 12px; font-weight: 400; line-height: 18px; color: #5f6368; margin: 0; padding: 0; text-align: left; padding-bottom: 18px;">
                                    <div id="m_-284055676835661507footer-copyright-address">&copy; 2022 SiriusOS</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="m_-284055676835661507inner-container m_-284055676835661507social-container" style="padding: 0 50px 40px 35px;" valign="top">
              <table style="max-width: 600px; width: 100%;" role="presentation" border="0" width="600" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td>
                      <table style="width: 100%;" role="presentation" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td align="left">
                              <div id="m_-284055676835661507footerlinks">
                                <table style="width: auto;" role="presentation" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="width: 48px; font-family: 'Roboto',Arial,sans-serif;" width="48">
                                        <img class="CToWUd" style="height: 48px;" src="https://ci3.googleusercontent.com/proxy/Ocfa0OsbBWMHgEVhCXF-bJGFcmjvAkiFsEYOTxWqnt3zTERwMJ2y6Z1Gi09_bVpTaDZgOa1QIuOv-qIR4pbCfbeBMJxgCIvYEVwg7-g5xARbyNVS2PVVR2U=s0-d-e1-ft#https://lp.cloudplatformonline.com/rs/808-GJW-314/images/blog-a11y.png" alt="Blog" height="48" border="0" />
                                      </td>
                                      <td style="width: 48px; padding-left: 10px; font-family: 'Roboto',Arial,sans-serif;" width="48">
                                        <img class="CToWUd" style="height: 48px;" src="https://ci5.googleusercontent.com/proxy/zYjPz8Z0RjuUpt9yF9HxxmDZo9_ACAJisQtVqZ7PpbcBOg8s0-qL678khRAjBHXR7JKFkUqhKxVagOdOIyU5RNH1Nq6dcI1LOZBDgZw8CjcFLvPKtIR3ryPe5g=s0-d-e1-ft#https://lp.cloudplatformonline.com/rs/808-GJW-314/images/github-a11y.png" alt="GitHub" height="48" border="0" />
                                      </td>
                                      <td style="width: 48px; padding-left: 10px; font-family: 'Roboto',Arial,sans-serif;" width="48">
                                        <img class="CToWUd" style="height: 48px;" src="https://ci5.googleusercontent.com/proxy/P4-kMwIH20UTWoMxQXfuxS8bDbU4p1VpRUfQRv2lniW3lDiHdFR9bT8kp4XSx0jwuXRDahWAWYkSFDICDtRkizBCm_40dhv5jwaKogi2Rsq5yYrqR_Jn3377Thka=s0-d-e1-ft#https://lp.cloudplatformonline.com/rs/808-GJW-314/images/linkedin-a11y.png" alt="LinkedIn" height="48" border="0" />
                                      </td>
                                      <td style="width: 48px; padding-left: 10px; font-family: 'Roboto',Arial,sans-serif;" width="48">
                                        <img class="CToWUd" style="height: 48px;" src="https://ci3.googleusercontent.com/proxy/RQaprs5bsnsypbF1Fk8FuGt0sK_SVYFedXHINuCu6LE8dC4lMjED0K_gEZReT8X1dHGaajLqlH7SbEdyN_kdJGF-qCO55wFB8xnX-pjwXhB93LFjMPMcZKyKcf8=s0-d-e1-ft#https://lp.cloudplatformonline.com/rs/808-GJW-314/images/twitter-a11y.png" alt="Twitter" height="48" border="0" />
                                      </td>
                                      <td style="width: 48px; padding-left: 10px; font-family: 'Roboto',Arial,sans-serif;" width="48">
                                        <img class="CToWUd" style="height: 48px;" src="https://ci6.googleusercontent.com/proxy/fDUrH2Y9sy86_A6NCrvXTHsY7et3rBY5y9YARJ1pYcLpO4BZufjHoHYor-OrgtRVhP9fbjrplysF_xCiNGd-Zb6SugBhXYkyquMPNGNMPnkCCkzU2PkikQbH_sGn=s0-d-e1-ft#https://lp.cloudplatformonline.com/rs/808-GJW-314/images/facebook-a11y.png" alt="Facebook" height="48" border="0" />
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      </tr>
      </tbody>
      </table>
    </div>
  </center>